body {
    min-width: 300px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

h1, h2, h3, p {
    margin: 0px;
}

header {
    padding: 2em;
    background-color: rgb(255, 163, 163);
    text-align: center;
}

.contact-info {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.contact-info > h2, .services > h2 {
    text-decoration: underline;
    margin-bottom: 5px;
}

.services {
    text-align: center;
    margin: 0px auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    max-width: 500px;
    margin: 25px;
}

img {
    border-radius: 10px;
    border: 5px solid rgb(255, 163, 163);
    width: 350px;
    height: 200px;
}

.text {
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.text > p {
    margin: 0px 30px;
    margin-bottom: 40px;
}

.bold {
    text-decoration: underline rgb(255, 163, 163);;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    margin-bottom: 40px;
}

@media (min-width: 700px) {
    body {
        font-size: 1.2em;
    }
}

@media (min-width: 1000px) {
    body {
        font-size: 1.4em;
    }
}

@media (max-width: 300px) {
    body {
        font-size: 0.8em;
    }

    img {
        border-radius: 10px;
        border: 5px solid rgb(255, 163, 163);
        width: 250px;
        height: 150px;
    }
}